.card {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  max-width: 21.875rem; /* max-width we want to have - for browser */
  aspect-ratio: 5 / 4;

  padding: 1.875rem;
  color: #fbfbfb;
  /* background-color: rgba(135, 161, 255, 0.3); */
  background: linear-gradient(to right, #87a1ff4d, #4862be25);
  border: 1.5px solid rgba(215, 215, 215, 0.3);
  border-radius: 8px;
  box-shadow: inset 2px 2px 0.25rem rgba(0, 0, 0, 0.25),
    3px 3px 0.25rem rgba(0, 0, 0, 0.25);
  /* inset -  turns outer shadow into inner */
}

.titleContainer {
  display: flex;
  justify-content: center;
}

/* .cardTitle {
  align-self: center;
} */

.icon {
  width: 2em;
  height: 2em;
  max-width: 100%;
  margin-left: 10px;
}

.cardSubtitle {
  align-self: center;
  margin-top: 0.3rem;
  font-style: italic;
}

.cardText {
  margin-top: 1.5rem;
  text-align: justify; /* justifies text */
}

.cardTag {
  align-self: flex-end;
  margin-top: auto;
}

/* for device that only support hovering */
@media (hover: hover) {
  .card:hover {
    & .cardTitle {
      color: #ffe310;
    }
    background-color: rgba(187, 200, 249, 0.3);
  }
}

@media (max-width: 600px) {
  .card {
    padding: 1rem;
    aspect-ratio: unset;
  }

  .cardText {
    margin-left: 1rem;
    margin-top: 1rem;
    text-align: start;
  }
}
