.card {
  display: flex;
  flex-direction: column;

  width: 100%; /* of cell size */
  max-width: 21.875rem; /* max-width we want to have - for browser */
  aspect-ratio: 5 / 4; /* height to width ratio card */

  padding: 1.875rem;
  color: #fbfbfb;
  background-color: rgba(135, 161, 255, 0.3);
  border: 1.5px solid rgba(215, 215, 215, 0.3);
  border-radius: 8px;
  box-shadow: inset 2px 2px 0.25rem rgba(0, 0, 0, 0.25),
    3px 3px 0.25rem rgba(0, 0, 0, 0.25);
  /* inset -  turns outer shadow into inner */
}

.cardTitle {
  align-self: center;
}

.cardSubtitle {
  align-self: center;
  margin-top: 0.3rem;
  font-style: italic;
}

.cardText {
  margin-top: 1.5rem;
  text-align: justify; /* justifies text */
}

.cardTag {
  align-self: flex-end;
  margin-top: 1.875rem;
}

@media (max-width: 600px) {
  .card {
    padding: 1rem;
  }

  .cardText {
    margin-left: 1rem;
    margin-top: 1rem;
    text-align: start;
  }

  .cardTag {
    margin-top: 0;
  }
}
