.card {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 21.875rem;
  aspect-ratio: 5 / 4;

  padding: 1.875rem;
  color: #fbfbfb;
  background-color: rgba(135, 161, 255, 0.3);
  border: 1.5px solid rgba(215, 215, 215, 0.3);
  border-radius: 8px;
  box-shadow: inset 2px 2px 0.25rem rgba(0, 0, 0, 0.25),
    3px 3px 0.25rem rgba(0, 0, 0, 0.25);
  /* inset -  turns outer shadow into inner */
}

.cardTitle {
  align-self: center;
}

.cardSubtitle {
  align-self: center;
  margin-top: 0.313rem;
  font-style: italic;
}

.cardText {
  justify-content: center;
  margin-top: 1.563rem;
}

.cardTag {
  align-self: flex-end;
  margin-top: 1.875rem;
}
