.pageContent {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  padding-top: 8rem; /* space for nav */
  padding-bottom: 3rem;

  width: 100%;
  max-width: 100%;
}

@media (max-width: 600px) {
  .pageContent {
    padding-top: 0;
  }
}
