.pageContent {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  padding-top: 8rem; /* space for nav */
  padding-bottom: 3rem;

  width: 100%;
  max-width: 100%;
}

.vipBtnPosition {
  position: absolute;
  left: 851px;
  bottom: 25px;
}

.vipSection {
  position: relative;
}

@media (max-width: 600px) {
  .vipBtnPosition {
    position: relative !important;
    left: 0 !important;
    bottom: auto !important;
    margin-top: 0.5em;
  }

  .pageContent {
    padding-top: 0;
  }
}
