.heroContent {
  padding-top: 3.75rem;
  padding-bottom: 2rem;
  align-self: center;
  text-align: center;
  text-shadow: var(--text-shadow-blue);
  max-width: 100%;
}

@media (max-width: 600px) {
  .heroContent {
    padding-bottom: 0.2rem;
  }

  .heroContent h3 {
    font-size: 1.4rem;
  }
}
