.contentSection {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;

  margin-top: 0.625rem; /* more space for href */
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* prevents items overflow, wraps it to next line*/
  /* width: 100%;
  max-width: 100%;  */
  /* THIS IS WHAT FIXED IT */

  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(95, 95, 104, 0.15);
  border-radius: 10px;
  padding: 1.875rem;
  overflow-x: hidden;
}

.subtitle {
  padding-bottom: 1.875rem;
}

@media (max-width: 600px) {
  .contentContainer {
    padding: 1rem;
  }

  .contentSection {
    gap: 1rem;
  }

  .subtitle {
    padding-bottom: 1rem;
    font-size: 1.3rem;
    text-align: center;
  }

  .text {
    padding: 0.5rem;
  }

  .title {
    font-size: 1.5rem;
  }
}
